Source: hello-debian
Section: utils
Priority: extra
Maintainer: Nome <nome@ufmg.br>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: hello-debian
Section: utils
Priority: extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hello world package para o projeto de 
 descaracacterizacao de tv boxes
